.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    font-size: 2em;
    flex: 2 0 0;
    text-align: center;
}
nav {
    flex: 1 0 0;
}
nav > a:nth-child(2) {
    margin-left: 10px
}